<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<div><font size="6">Алгоритм записи данных из УФ </font></div>
<div>При записи данных из формы, выполняются следующие этапы: </div>
<div><font color="#009646"><font style="background-color: rgb(252, 250, 235);">// Первый раз, где мы можем что-то сделать и отказаться от записи</font><font style="background-color: rgb(252, 250, 235);">. </font></font></div>
<div>1.  На Клиенте. Форма: ПередЗаписью(Отказ, ПараметрыЗаписи) </div>
<div> </div>
<div><font color="#009646">// Выполняется переход на Сервер. </font></div>
<div> </div>
<div><font color="#009646">// Алгоритм обработка проверки заполнения: </font></div>
<div>2.  ОбработкаПроверкиЗаполненияНаСервере(Отказ, ПроверяемыеРеквизиты) | Форма </div>
<div>3.  ОбработкаПроверкиЗаполнения(Отказ, ПроверяемыеРеквизиты) | Модуль объекта </div>
<div>4.  ОбработкаПроверкиЗаполнения(Источник, Отказ, ПроверяемыеРеквизиты) | Подписка </div>
<div> </div>
<div><font color="#009646">// Заполняется Объект_СУБД и помещается в параметр ТекущийОбъект. </font></div>
<div><font color="#009646">// Дальнейшие изменения в реквизите формы «Объект» игнорируются! </font></div>
<div> </div>
<div><font color="#009646">// Алгоритм перед записью. </font></div>
<div>5.  ПередЗаписьюНаСервере(Отказ, ТекущийОбъект, ПараметрыЗаписи) | Форма </div>
<div>6.  ПередЗаписью(Отказ, РежимЗаписи, РежимПроведения) | Модуль объекта </div>
<div>7.  ПередЗаписью(Источник, Отказ, РежимЗаписи, РежимПроведения) | Подписка </div>
<div> </div>
<div><font color="#009646">// Алгоритм при установке нового номера. </font></div>
<div>8.  ПриУстановкеНовогоНомера(СтандартнаяОбработка, Префикс) | Модуль объекта </div>
<div>9.  ПриУстановкеНовогоНомера(Источник, СтандартнаяОбработка, Префикс) | Подписка </div>
<div> </div>
<div><font color="#009646">// Алгоритм записи объекта – открывается транзакция в СУБД. </font></div>
<div>10. ПриЗаписи(Отказ) | Модуль объекта </div>
<div>11. ПриЗаписи(Источник, Отказ) | Подписка </div>
<div> </div>
<div>12. ОбработкаПроведения(Отказ, РежимПроведения | Модуль объекта </div>
<div>13. ОбработкаПроведения(Источник, Отказ, РежимПроведения | Подписка </div>
<div> </div>
<div>14. ПриЗаписиНаСервере(Отказ, ТекущийОбъект, ПараметрыЗаписи) | Форма </div>
<div> </div>
<div><font color="#009646">// Запись завершена, отказ не возможен. </font></div>
<div><font color="#009646">// Объект_СУБД заново считывается в реквизит формы (реквизит формы полностью обновляется), </font></div>
<div><font color="#009646">// сам Объект_СУБД уничтожается. </font></div>
<div><font color="#009646">// Если мы заполняли какие-то дополнительные реквизиты объекта на форме (доп .колонки), </font></div>
<div><font color="#009646">// то они будут уничтожены. В последней процедуре следует их перезаполнить заново. </font></div>
<div> </div>
<div>15. ПослеЗаписиНаСервере(ТекущийОбъект, ПараметрыЗаписи) | Форма</div>
<div><br></div>
<div>
<div><font color="#009646">// Возврат на Клиент. </font></div>
<div>16. Форма клиент: ПослеЗаписи(ПараметрыЗаписи) </div></div>
<div><br></div>


</body></html>